_Latent_space__Text_embedding_2.json
{
  "name": "(Latent space) Text embedding 2 copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "9e5e3b9d-3f9c-46db-9e93-bda65c469abb",
      "name": "When clicking 'Test workflow'"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:11434/api/embed",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"model\": \"chevalblanc/acge_text_embedding:latest\",\n    \"input\": [\"{{ $json.text1 }}\", \"{{ $json.text2 }}\", \"{{ $json.text3 }}\"]\n}\n"
      },
      "name": "Call Ollama Embedding API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        600,
        220
      ],
      "id": "bc31b143-e42c-41c6-82f8-8094d1255114"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "'''\nacge_text_embedding 的 output\n[\n{\n\"model\": \"chevalblanc/acge_text_embedding:latest\",\n\"embeddings\": [ [vector1], [vector2], [vector3] ]\n}\n]\n\n'''\n\n\nimport numpy as np\nfrom itertools import combinations\n\n# 取得 API 回傳的 embedding 向量\nembeddings = items[0][\"json\"][\"embeddings\"]\n\nvectors = []\n# 轉成純 Python list\nfor idx in range(len(embeddings)):\n    vec = list(embeddings[idx])  \n    vectors.append(vec)\n\n# 定義 cosine similarity\ndef cosine_similarity(vec1, vec2):\n    vec1 = np.array(vec1)\n    vec2 = np.array(vec2)\n    return float(np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2)))\n\n# 計算每一對向量的相似度\nresults = []\nfor (i1, v1), (i2, v2) in combinations(enumerate(vectors), 2):\n    sim = cosine_similarity(v1, v2)\n    results.append({\n        \"pair\": f\"{i1}-{i2}\",\n        \"similarity\": sim\n    })\n\n# 輸出結果\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        220
      ],
      "id": "929801fd-5c05-4df5-bc78-c5615f32a3b7",
      "name": "計算 text 與 prompt 相似度"
    },
    {
      "parameters": {
        "content": "## 輸入 3 段文本, 用 embedding vector計算文本的相似度",
        "height": 80,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "154a6816-93ad-4b4a-94f1-d91271911c81",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "'''\ntext-embedding-3-small 的 output\n[\n\"data\": [\n{\n\"index\":0,\n\"embedding\": [vector1]\n},\n{\n\"index\": 1,\n\"embedding\": [vector2]\n}\n...\n]\n'''\n\nimport numpy as np\nfrom itertools import combinations\n\n# 取得 API 回傳的 embedding 向量\nembeddings = items[0][\"json\"][\"data\"]\n\nvectors = []\n\n# 轉成純 Python list\nfor idx in range(len(embeddings)):\n    vec = list(embeddings[idx][\"embedding\"])  # 👈 加上 list()\n    vectors.append(vec)\n\n# 定義 cosine similarity\ndef cosine_similarity(vec1, vec2):\n    vec1 = np.array(vec1)\n    vec2 = np.array(vec2)\n    return float(np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2)))\n\n# 計算每一對向量的相似度\nresults = []\nfor (i1, v1), (i2, v2) in combinations(enumerate(vectors), 2):\n    sim = cosine_similarity(v1, v2)\n    results.append({\n        \"pair\": f\"{i1}-{i2}\",\n        \"similarity\": sim\n    })\n\n# 輸出結果\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        20
      ],
      "id": "e03eca75-025a-41fb-8a43-5d8b633a3ab0",
      "name": "計算 text 與 prompt 相似度1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text1",
              "value": "AI 與半導體"
            },
            {
              "name": "text2",
              "value": "講師從墨西哥漁夫的故事開始，有一個富有的銀行家在墨西哥渡假，他覺得每天只釣一隻魚的人不聰明，應該釣很多去開一個罐頭產業，然後開始享福，但漁夫正是正在這樣的時段。過度追求成功，反而忽略真正重要的事情。遇到困難的時候，所做出的決定，現在回去看其實也沒有太大的意義了吧，因為再來一次，會選一樣的選擇，沒有好或壞，要對自己的選擇承擔就好了。做不到一件事情不應該一直為自己找理由，而是應該更努力的去挑戰他，等你成功了，獲得成就感了，那你就可以告訴大家你很努力很努力之後成功了。如果一個人很喜歡這件事情，那就會廢寢忘食的時候去努力做完，那當我們找到自己熱愛的工作之後，就好好的認真的完成。當你不喜歡這份工作的時候，就要想想要不要轉換跑道，不要邊做邊抱怨，為生活而工作轉化成為快樂而工作。"
            },
            {
              "name": "text3",
              "value": "參與了一場關於「半導體與AI發展」的專題講座，講座內容涵蓋半導體製程技術的進步、AI對半導體市場的需求變化、產業供應鏈分析，以及未來發展趨勢。講師還分享了AI運算對高效能晶片（如GPU、TPU、NPU等）的需求，以及半導體產業在全球科技競爭中的關鍵角色。此外，還參與了問答環節，與講師及其他參與者交流觀點。"
            }
          ]
        },
        "options": {}
      },
      "name": "輸入文本",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        220,
        160
      ],
      "id": "7fa43e73-b602-4354-903a-5bda5c06db3e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\":  \"text-embedding-3-small\",\n  \"input\": \"{{ $json.text }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        20
      ],
      "id": "e7a89300-6835-44b7-a881-2301c60f04fd",
      "name": "Call OpenAI embeddimg model"
    }
  ],
  "pinData": {
    "Call Ollama Embedding API": [
      {
        "json": {
          "model": "chevalblanc/acge_text_embedding:latest",
          "embeddings": [
            [
              0.046869848,
              -0.058992747,
              -0.0043612323,
              -0.008213044,
              0.034045655,
              -0.0067597185,
              0.0032913128,
              -0.01952667,
              -0.045732073,
              0.06647322,
              -0.0054459902,
              -0.006359933,
              -0.09710737,
              -0.0056462213,
              0.01589601,
              -0.05141365,
              -0.008236101,
              0.025922328,
              -0.03913552,
              0.015474136,
              0.022766503,
              -0.023722565,
              -0.007017511,
              -0.027076542,
              -0.006416434,
              0.027140463,
              0.004296313,
              -0.029868936,
              0.0081199035,
              -0.019283773,
              0.06064006,
              0.04448837,
              -0.0065951818,
              0.041869473,
              -0.0039589354,
              0.03328775,
              0.0017842832,
              -0.013342858,
              0.00498919,
              0.01793871,
              0.011159988,
              -0.06852232,
              0.009179835,
              0.030208627,
              0.0033574018,
              -0.007215663,
              -0.006961352,
              0.014182608,
              -0.00890612,
              0.008913426,
              0.016282724,
              0.030309072,
              -0.03189064,
              -0.011598411,
              -0.032520708,
              -0.033707794,
              -0.035798892,
              0.05097169,
              -0.02871655,
              0.0039525433,
              -0.010759574,
              -0.032507923,
              -0.029076329,
              0.028238973,
              0.05874072,
              -0.013398561,
              -0.048038673,
              -0.04723328,
              -0.022319064,
              0.040817533,
              0.014361927,
              -0.014985604,
              -0.042026535,
              0.02489778,
              0.0028817493,
              0.0039067147,
              0.004077815,
              -0.015034914,
              0.024536176,
              -0.014598431,
              -0.01626492,
              -0.006996965,
              0.060041036,
              0.012732878,
              0.012724203,
              0.029912768,
              -0.018769672,
              0.00061294786,
              0.027697481,
              0.011181447,
              -0.003265003,
              0.040536284,
              -0.05130225,
              -0.057871405,
              0.02371252,
              0.05041285,
              0.010420341,
              0.010636756,
              -0.019029919,
              0.0070796045,
              0.003380687,
              -0.013814497,
              -0.013243896,
              0.02671859,
              0.0015928939,
              -0.090795726,
              -0.039031424,
              0.013582558,
              0.002000413,
              -0.013246979,
              0.002809815,
              -0.00022688771,
              0.0168055,
              0.024344416,
              0.020387307,
              -0.003669183,
              0.06253209,
              0.041504215,
              0.03266133,
              -0.034823656,
              -0.017982543,
              0.024927001,
              0.005840468,
              0.046972122,
              -0.06304345,
              -0.011621126,
              0.020865338,
              0.045931138,
              0.011220256,
              0.015898291,
              0.011875437,
              -0.013368882,
              0.0093620075,
              0.040536284,
              0.024976311,
              0.02781619,
              0.026437342,
              0.014188886,
              -0.020729735,
              -0.022711715,
              -0.044141375,
              0.028590536,
              0.0043218527,
              -0.04586539,
              0.0055085407,
              0.014625826,
              -0.06057066,
              0.05597937,
              0.013285786,
              0.037095558,
              0.0076502627,
              -0.032488745,
              -0.0025715274,
              0.013470698,
              -0.03275447,
              -0.017212762,
              -0.09720965,
              0.0055549964,
              0.06958887,
              0.033358973,
              -0.028378686,
              -0.021623246,
              0.059617337,
              0.0055430117,
              -0.0057477844,
              0.014554942,
              0.052633613,
              0.024397379,
              -0.055727344,
              0.054956652,
              0.010177902,
              0.02447043,
              -0.0020423604,
              -0.013344227,
              0.027427189,
              -0.05789332,
              -0.017701294,
              -0.024257667,
              0.006832028,
              -0.01739676,
              -0.03513595,
              -0.041043993,
              -0.06505968,
              -0.051128753,
              0.028011601,
              0.021391308,
              0.02519364,
              -0.034872964,
              -0.008601929,
              -0.04160466,
              0.030694418,
              -0.011463151,
              -0.017033786,
              0.003684143,
              -0.04387839,
              0.019818874,
              0.031238653,
              -0.024085084,
              -0.03578428,
              0.0034273143,
              -0.034199066,
              -0.002789255,
              0.044992425,
              0.037380457,
              -0.04929881,
              0.012198233,
              0.03627373,
              -0.03205683,
              0.013365687,
              -0.038730085,
              0.036478274,
              0.016839286,
              -0.019374173,
              0.015396061,
              -0.04702691,
              0.01828388,
              -0.017580759,
              -0.032020304,
              -0.036891013,
              -0.0017401099,
              -0.012081807,
              -0.037530214,
              -0.042709567,
              0.027025407,
              -0.019777784,
              0.07178041,
              0.041876778,
              -0.011252215,
              -0.010535854,
              0.028585056,
              -0.0073389374,
              -0.03067159,
              -0.0030346625,
              -0.013648761,
              -0.007611282,
              0.032714292,
              0.0262522,
              -0.008140107,
              0.016263092,
              0.009840209,
              -0.04879841,
              0.002487404,
              0.01649503,
              0.015123489,
              0.020532953,
              -0.025701348,
              0.039319977,
              -0.014748187,
              -0.034281246,
              0.0045798733,
              -0.015360449,
              -0.0054151714,
              0.041104257,
              -0.017931407,
              -0.03402374,
              -0.0008568143,
              -0.014725814,
              -0.030928183,
              0.017098162,
              0.019884622,
              0.026837299,
              -0.021061664,
              0.01884181,
              -0.0140405,
              0.016076125,
              0.037502818,
              -0.012836521,
              -0.028269108,
              0.016111966,
              -0.0034621852,
              0.036664553,
              -0.0212726,
              -0.007854978,
              0.05072697,
              -0.00035772412,
              0.017952409,
              -0.018455552,
              -0.016493661,
              0.007864908,
              -0.07684288,
              -0.00314521,
              0.011820191,
              -0.038552936,
              -0.019864531,
              -0.060263842,
              0.0031918944,
              0.06857345,
              -0.07015867,
              0.02252178,
              0.067156255,
              0.03016297,
              0.00230312,
              -0.016014718,
              0.026362065,
              -0.03327131,
              0.04383821,
              0.013852392,
              0.025509588,
              -0.02004031,
              -0.029496374,
              0.044155985,
              -0.010207579,
              -0.020441638,
              -0.035377022,
              0.03350873,
              -0.0016096337,
              -0.007286888,
              -0.03160939,
              -0.018276574,
              0.022346457,
              -0.021546543,
              0.03427029,
              -0.027576946,
              0.031154644,
              -0.0017895338,
              0.014537251,
              0.02768287,
              -0.0032567277,
              0.036947627,
              -0.016016087,
              0.015862223,
              0.0069616945,
              0.032011174,
              -0.022624053,
              0.033897728,
              -0.021686254,
              -0.05542053,
              -0.049375515,
              0.006158927,
              0.02166662,
              -0.01916278,
              0.048787452,
              0.030376645,
              0.021207767,
              0.0034284128,
              0.039214052,
              -0.030904442,
              0.014006714,
              0.06953774,
              0.041668583,
              -0.029664392,
              -0.020120213,
              -0.02852844,
              -0.022895256,
              0.0022570633,
              -0.019743083,
              0.0117542725,
              0.014011736,
              -0.006352856,
              -0.0011179164,
              0.017762475,
              0.014598431,
              -0.031366494,
              0.025595423,
              -0.029653434,
              0.039228663,
              0.032279637,
              -0.0096081,
              -0.019740345,
              0.023533544,
              -0.0060320003,
              -0.050274048,
              0.04642058,
              -0.03320374,
              0.017326904,
              -0.010521729,
              -0.047410432,
              -0.03500263,
              -0.024345329,
              -0.07945082,
              -0.0011124376,
              0.025343396,
              -0.05696922,
              -0.0027273325,
              -0.00035047604,
              -0.024831122,
              -0.026970617,
              -0.0765726,
              -0.06227641,
              0.08018865,
              -0.013904442,
              0.033167213,
              -0.042895846,
              0.053572327,
              -0.11043197,
              0.01874867,
              -0.020361282,
              -0.046237953,
              -0.017841918,
              0.008565746,
              0.019194284,
              -0.042848364,
              -0.007021402,
              -0.005235967,
              -0.020403286,
              -0.00046889938,
              0.03251888,
              -0.03800505,
              -0.0059228223,
              0.0048520756,
              -0.025880324,
              0.025020143,
              -0.08476167,
              0.04576677,
              -0.04063673,
              -0.04829253,
              0.015258634,
              0.027878283,
              0.00082297093,
              -0.0023346806,
              -0.04483171,
              0.0005711001,
              0.031026803,
              -0.03194725,
              0.04650459,
              -0.043732285,
              -0.07640092,
              0.014219932,
              0.0004590831,
              -0.0012665911,
              0.017085835,
              0.03394156,
              0.002539938,
              0.023025837,
              -0.0151664065,
              0.022421336,
              -0.0021164392,
              0.007910864,
              0.0064778426,
              0.0046235896,
              0.02300666,
              -0.051008217,
              0.0042186105,
              -0.036565933,
              -0.04011989,
              -0.019429876,
              0.046084546,
              -0.013636891,
              -0.0019527582,
              -0.019638073,
              -0.04678584,
              -0.016370844,
              0.030836869,
              -0.021261642,
              0.018244615,
              -0.013554251,
              0.07469517,
              -0.013647391,
              0.033976257,
              0.015496965,
              0.03604727,
              -0.050803673,
              0.019986894,
              -0.022764677,
              0.0046626837,
              -0.013357012,
              -0.021970242,
              -0.00893848,
              0.0051717046,
              0.004733738,
              0.005730891,
              0.05746597,
              0.028818822,
              0.025548853,
              -0.02898684,
              0.017888488,
              0.015894182,
              -0.0384324,
              0.020603722,
              -0.022161089,
              0.08217564,
              0.029310092,
              -0.028274586,
              0.02356094,
              -0.033158083,
              0.00998968,
              0.032801956,
              0.044028144,
              0.040470537,
              -0.04030617,
              -0.019066444,
              -0.030819118,
              0.03731106,
              0.008415962,
              0.0053275377,
              0.008098159,
              -0.04090154,
              0.013898506,
              -0.051826395,
              0.0109677715,
              0.010698051,
              -0.0037139845,
              0.007824958,
              -0.009956464,
              0.000636233,
              -0.019685555,
              -0.009126045,
              -0.01778165,
              0.03059032,
              -0.007990651,
              0.063700914,
              0.028935703,
              0.037742063,
              -0.035090294,
              0.017608153,
              0.035331365,
              0.016245285,
              0.02244873,
              0.020881774,
              -0.0018580195,
              0.02511511,
              0.012885145,
              0.027562335,
              -0.0017484992,
              -0.0009527515,
              0.020874469,
              -0.039413117,
              0.031375624,
              0.017248375,
              0.030032387,
              -0.04444454,
              -0.013018692,
              0.04844776,
              0.027878283,
              0.031061502,
              -0.0077754203,
              -0.0021600418,
              -0.027277434,
              0.005804399,
              -0.0037014286,
              0.02650674,
              -0.036167804,
              -0.02171456,
              0.014912096,
              -0.049696945,
              0.010862759,
              0.010115295,
              -0.02692496,
              0.035806198,
              -0.017367084,
              0.015341045,
              0.03406757,
              0.0066135866,
              -0.047768384,
              -0.025905892,
              -0.011938443,
              0.08619348,
              -0.01748214,
              -0.009227204,
              0.05328012,
              -0.011693721,
              0.015313423,
              0.0004161939,
              0.017162539,
              0.03754665,
              -0.0043807365,
              -0.0046614427,
              -0.013449239,
              0.017476661,
              0.06880356,
              0.013416823,
              -0.0018069404,
              0.021354325,
              0.06512907,
              0.019688752,
              0.0027423995,
              -0.02959682,
              0.026422732,
              0.0032508848,
              0.014087299,
              0.045463607,
              -0.015864048,
              -0.06911404,
              0.013395491,
              -0.02052793,
              0.04930977,
              0.011145834,
              -0.0047408147,
              0.017008219,
              -0.04061664,
              -0.019906538,
              0.0061624227,
              0.006455927,
              0.05641403,
              -0.0095286565,
              0.0066806744,
              -0.01774832,
              0.014206693,
              -0.02905076,
              -0.02968083,
              -0.019576093,
              -0.06434742,
              -0.013604018,
              0.052348714,
              -0.027306655,
              0.032029435,
              0.05594285,
              0.009876564,
              0.040094323,
              0.018671053,
              -0.028950313,
              0.002507486,
              0.01945727,
              -0.04072622,
              -0.0001959835,
              -0.0057824263,
              -0.000113686416,
              -0.002457156,
              -0.0070508406,
              0.026274802,
              -0.032089703,
              -0.010636756,
              -0.073533654,
              0.038222376,
              0.0022530684,
              0.021042943,
              -0.047881614,
              -0.024698716,
              0.04012354,
              -0.008717328,
              0.08080958,
              0.03773841,
              -0.014428129,
              -0.031061502,
              -0.0083319815,
              0.05085846,
              0.0019003666,
              0.06304345,
              -0.006504552,
              -0.03152355,
              -0.011606059,
              -0.03211527,
              0.00660554,
              -0.01267809,
              -0.01801359,
              0.045726594,
              0.043363377,
              0.0067693633,
              0.073946394,
              -0.01789214,
              -0.0068582813,
              0.024822904,
              -0.03259193,
              -0.039648708,
              -0.028809689,
              -0.024437556,
              0.018239137,
              -0.00010752269,
              -0.0081880465,
              0.008192612,
              0.048283394,
              -0.002330914,
              -0.01771134,
              0.037135735,
              0.06407348,
              -0.022269754,
              -0.06528249,
              -0.03360735,
              0.028904656,
              0.027312133,
              0.007146721,
              0.05546436,
              0.015101116,
              -0.0036736918,
              0.023842188,
              -0.07620003,
              0.012174491,
              -0.051987108,
              -0.025710478,
              -0.015302465,
              -0.02505119,
              0.009311785,
              -0.001440085,
              0.005428826,
              -0.011512005,
              -0.05923382,
              0.018015886,
              0.04115722,
              -0.0036722082,
              -0.034169845,
              0.037902776,
              -0.024748025,
              0.006629082,
              0.0020103431,
              0.0010124197,
              0.0075393724,
              0.014607791,
              0.034230113,
              0.044166945,
              -0.011150171,
              0.029282698,
              -0.02387506,
              -0.020668099,
              -0.017079443,
              0.015815422,
              -0.0004894451,
              0.0022770385,
              0.04203384,
              -0.010497046,
              0.029682655,
              0.038001396,
              0.057093408,
              0.04215072,
              0.027394317,
              -0.031896114,
              -0.04039018,
              -0.0025411653,
              -0.055022396,
              -0.010596122,
              0.008634232,
              -0.019733496,
              -0.0070560905,
              -0.017610893,
              0.046807755,
              -0.0017201348,
              0.0074523953,
              0.0050588865,
              0.043173444,
              0.0061134985,
              -0.036839876,
              -0.005950588,
              0.0016662593,
              -0.036657248,
              -0.047978405,
              0.01575721,
              0.02210904,
              0.033749796,
              0.009425472,
              -0.04065682,
              0.00147935,
              -0.038912714,
              0.0030491014,
              0.034617286,
              0.03935285,
              0.049653113,
              0.024419295,
              -0.00317249,
              0.02259666,
              -0.013991191,
              -0.018051028,
              0.0063034324,
              0.034529623,
              0.044185206,
              0.0365221,
              0.005797015,
              -0.006249421,
              0.018564215,
              0.02047634,
              0.009721558,
              -0.02302127,
              -0.0019304217,
              0.0028282919,
              0.024163613,
              0.011958989,
              0.0064335554,
              0.008120816,
              -0.025323307,
              -0.012340226,
              0.062462695,
              -0.022087125,
              -0.036220767,
              -0.0061687436,
              0.042819142,
              0.0073603964,
              0.015127142,
              0.037090078,
              -0.011217516,
              -0.030962883,
              0.07343868,
              0.005496042,
              -0.0041584573,
              0.01465322,
              -0.029474458,
              -0.02962604,
              0.008209163,
              0.034184456,
              0.04170511,
              0.044097543,
              0.04094172,
              -0.03650749,
              -0.0038620278,
              0.029162163,
              -0.011936617,
              -0.0023970276,
              0.059646558,
              -0.020889992,
              0.004618111,
              0.04349122,
              -0.018813958,
              0.00078644516,
              0.0014047577,
              -0.01633466,
              0.0038721866,
              -0.0037691654,
              0.027387012,
              -0.023946285,
              -0.0114992205,
              0.016997261,
              -0.0010089669,
              -0.07084901,
              0.037712842,
              -0.0050889505,
              -0.022476124,
              0.03138293,
              -0.016264461,
              -0.049178276,
              -0.06026019,
              0.04493033,
              0.003956196,
              0.024616532,
              0.012087742,
              0.0005215193,
              -0.013216929,
              -0.004113485,
              -0.010091381,
              0.03351786,
              -0.0024582974,
              0.006224559,
              -0.034516837,
              -0.020094644,
              -0.005308334,
              0.024821077,
              -0.02664645,
              0.05902197,
              0.0123384,
              0.04637675,
              -0.0040903706,
              0.01793871,
              -0.012332008,
              0.061863672,
              -0.053809743,
              -0.040598378,
              -0.024541656,
              -0.001829555,
              0.09153354,
              0.012840173,
              -0.043009076,
              0.048791103,
              0.05066122,
              -0.052027285,
              -0.00075870845,
              0.014296181,
              0.031344578,
              -0.0676457,
              -0.0475821,
              0.0030744984,
              -0.036684643,
              -0.011382339,
              0.0147381425,
              -0.031399366,
              -0.022558307,
              -0.0494577,
              0.0025206197,
              0.051632807,
              -0.019565022,
              0.017308185,
              0.05264457,
              0.021027878,
              0.0044497675,
              0.035857335,
              0.016648896,
              0.030228715,
              0.040647686,
              0.019042702,
              0.038804963,
              -0.023871407,
              -0.03820594,
              -0.02054939,
              -0.018151473,
              -0.016653918,
              0.004392193,
              0.052597087,
              0.020038486,
              0.022331847,
              0.0008668018,
              0.036589675,
              -0.012888569,
              0.0010633561,
              -0.016289573,
              -0.067999996,
              0.03565644,
              -0.0024075038,
              -0.04258903,
              -0.03488575,
              -0.010280174,
              0.014176101,
              0.0031025205,
              -0.0073721525,
              0.028294677,
              -0.013793952,
              -0.0024215435,
              -0.05108127,
              -0.046230648,
              -0.0056521893,
              0.006239965,
              0.018661922,
              0.013393082,
              0.002775615,
              -0.06411,
              -0.058802813,
              -0.0150011275,
              -0.013341946,
              -0.017264355,
              -0.015707444,
              -0.02999495,
              0.03583907,
              -0.015726391,
              -0.012395813,
              0.042877585,
              -0.026552398,
              0.017220067,
              0.034991674,
              0.053773217,
              -0.022099908,
              -0.020710103,
              0.046668958,
              0.016826503,
              -0.01176038,
              0.01827429,
              -0.030997582,
              -0.01650325,
              -0.102228284,
              0.012117961,
              -0.013515898,
              -0.02874029,
              -0.020717409,
              -0.01772321,
              -0.10490197,
              -0.011652401,
              0.07125445,
              0.005996616,
              -0.04861213,
              0.0266638,
              -0.024819251,
              0.017742386,
              0.021751087,
              0.047571145,
              -0.008434481,
              0.057641294,
              0.06844196,
              0.015608025,
              0.013152924,
              0.0049604257,
              -0.009993903,
              -0.022006767,
              -0.011516571,
              0.03307407,
              -0.015653113,
              -0.035488423,
              0.014434978,
              0.03239104,
              0.0057776896,
              0.003755989,
              0.030968362,
              0.009500121,
              0.065008536,
              0.027030885,
              0.030840522,
              0.029116506,
              -0.0037078778,
              0.0032518194,
              -0.00646095,
              -0.02874029,
              0.033046678,
              0.045755815,
              -0.020531127,
              0.015775474,
              0.013248805,
              -0.007823774,
              0.024757156,
              0.024501476,
              0.00967727,
              0.011711983,
              0.048990168,
              0.03256819,
              0.013215132,
              0.03367492,
              -0.048805714,
              -0.016217891,
              0.0006038164,
              0.016066309,
              -0.012755707,
              0.004025545,
              0.002794677,
              -0.025058495,
              -0.024636623,
              0.07079057,
              -0.006746364,
              0.021367567,
              -0.012838118,
              0.01556819,
              0.014033651,
              0.0030672504,
              -0.014273352,
              0.008517349,
              0.008828959,
              0.0215575,
              0.09859032,
              -0.04764785,
              -0.009270693,
              0.0046777506,
              -0.016226567,
              -0.0148082245,
              -0.04044314,
              0.016400063,
              -0.0053697424,
              -0.05997529,
              -0.05193232,
              -0.01974765,
              -0.003362424,
              -0.03014288,
              -0.026192619,
              -0.028038995,
              -0.025778051,
              -0.0025162534,
              -0.00897141,
              0.04986131,
              0.004686711,
              0.010490682,
              0.005834761,
              -0.029136594,
              0.016467636,
              -0.012179313,
              0.020069076
            ],
            [
              -0.03174247,
              0.03490803,
              -0.022679605,
              -0.019219596,
              -0.0138882045,
              -0.0199065,
              0.05782355,
              0.026499435,
              -0.049626566,
              0.0414805,
              0.009413543,
              -0.009110938,
              -0.030171664,
              0.011791221,
              0.06371728,
              0.019946314,
              -0.010125104,
              -0.007505521,
              0.012010764,
              -0.027413413,
              0.023145022,
              -0.003073737,
              0.0029854563,
              -0.053414732,
              0.049241282,
              0.021651873,
              0.01996973,
              -0.010126191,
              0.01921205,
              -0.022022543,
              -0.015143663,
              0.030144952,
              0.029654142,
              -0.04477076,
              0.031766914,
              -0.033495788,
              0.02746518,
              0.04475157,
              0.040486693,
              0.05551723,
              0.004848448,
              0.04482276,
              0.012760761,
              -0.01989828,
              -0.019841291,
              -0.001620673,
              0.026519718,
              0.011195589,
              -0.022575332,
              0.01390156,
              0.010237493,
              0.010000687,
              0.046957735,
              0.01937888,
              -0.015873918,
              0.026521564,
              -0.028802902,
              -0.0069604497,
              -0.016457567,
              0.0024974248,
              0.02178988,
              -0.030343052,
              0.0038319712,
              -0.029688401,
              -0.0035404286,
              -0.0044255704,
              -0.02159804,
              -0.07945184,
              -0.04101763,
              -0.049995366,
              -0.014314101,
              0.029922443,
              0.023186792,
              0.061261844,
              0.09551682,
              -0.052617412,
              0.0140370745,
              -0.040438205,
              -0.03114647,
              0.03826575,
              -0.0075091235,
              0.060127046,
              -0.023130756,
              0.013696527,
              -0.018895587,
              -0.0037637001,
              -0.00081588223,
              -0.0068316427,
              -0.004239616,
              -0.0031317587,
              -0.03568599,
              0.043690775,
              0.022433294,
              -0.05276798,
              -0.009766526,
              -0.045248117,
              -0.009814966,
              0.0000046654304,
              0.0056765405,
              -0.0129687,
              -0.005999478,
              -0.04942142,
              -0.056950346,
              -0.005973533,
              -0.019884462,
              -0.0031183064,
              -0.0400505,
              0.052693464,
              -0.018761875,
              0.006234059,
              0.04755594,
              0.025928916,
              0.040723603,
              -0.0100854095,
              -0.016654687,
              0.0076246206,
              -0.07955565,
              -0.0018271344,
              0.052174475,
              0.023204658,
              0.009060797,
              0.02211041,
              0.015975662,
              -0.011249445,
              0.024859801,
              -0.0028925992,
              0.0016293381,
              0.060204417,
              -0.0020859416,
              0.010812566,
              0.0015929287,
              -0.028147673,
              -0.00010181254,
              0.038743418,
              0.028476829,
              -0.030623171,
              0.03697434,
              0.014119838,
              -0.0019142036,
              0.036208786,
              0.019144466,
              -0.0058569,
              0.022896232,
              -0.035261795,
              -0.005564465,
              0.0027345829,
              -0.002246441,
              0.05136693,
              0.045944937,
              -0.010917183,
              -0.015198907,
              -0.0123758875,
              -0.017596478,
              0.048840005,
              0.021959426,
              0.009013784,
              -0.06841152,
              0.028544689,
              0.004060467,
              -0.041352946,
              -0.020766508,
              -0.05324279,
              0.07353086,
              0.03593602,
              -0.0057328963,
              0.007857706,
              0.010489231,
              0.015425418,
              0.014654654,
              0.043107394,
              0.0475521,
              0.018788071,
              0.018875508,
              0.073715,
              -0.0016422655,
              -0.05890263,
              -0.013365169,
              -0.047565356,
              0.020128896,
              -0.032247357,
              -0.061795495,
              -0.03281762,
              0.0041155107,
              -0.054061867,
              -0.02593857,
              0.034921538,
              0.014546721,
              0.010121623,
              -0.019660905,
              0.015672732,
              0.035239615,
              0.012394858,
              -0.024532218,
              0.015803337,
              -0.077303976,
              0.058347173,
              0.0032395516,
              -0.03287208,
              -0.022118544,
              0.028654959,
              -0.0052877865,
              0.017126428,
              0.034112316,
              -0.016644461,
              0.012253069,
              -0.005691734,
              0.025363736,
              -0.039640713,
              0.016055448,
              0.03666369,
              -0.011457834,
              -0.00966009,
              0.013587118,
              0.013689312,
              0.043089118,
              -0.04211763,
              -0.046400692,
              0.036481816,
              -0.0046639442,
              -0.02585279,
              -0.043421168,
              -0.011222852,
              -0.042235546,
              -0.016704757,
              -0.019084904,
              -0.037379317,
              0.020878265,
              -0.008960161,
              0.014171102,
              0.008246049,
              -0.02049518,
              0.00272647,
              0.026819972,
              -0.01762259,
              0.015442332,
              -0.0251446,
              0.009862955,
              0.022543553,
              -0.021055236,
              -0.032822076,
              0.058347896,
              0.0018623986,
              0.014543454,
              -0.010100601,
              0.009645119,
              0.030408101,
              -0.008371916,
              -0.037624326,
              0.033779714,
              -0.062296737,
              -0.008821606,
              0.00014713586,
              0.05649867,
              0.0036610574,
              -0.0014837562,
              0.02904888,
              0.037808497,
              0.007451381,
              -0.00023281485,
              0.034244735,
              -0.006406084,
              -0.045616325,
              0.0332557,
              -0.023699053,
              0.03619856,
              0.029831354,
              -0.023013955,
              0.023909496,
              0.0022416585,
              0.065542035,
              0.057311796,
              0.028191235,
              0.0124619445,
              -0.0067216977,
              -0.013245539,
              -0.02976421,
              -0.040681753,
              -0.022677748,
              0.022504114,
              -0.018843932,
              -0.005858769,
              -0.017234396,
              -0.001467633,
              0.024293268,
              0.007942516,
              -0.033691555,
              0.007537888,
              -0.053677686,
              -0.03805029,
              -0.012562382,
              -0.049430456,
              -0.016827492,
              0.005832199,
              -0.020741338,
              -0.03794087,
              0.039144155,
              0.028683083,
              0.02860272,
              -0.029087277,
              0.0010641674,
              0.042321008,
              0.018613758,
              -0.01027357,
              -0.0059333174,
              0.0206882,
              -0.013710613,
              -0.019358393,
              -0.04337721,
              0.033457816,
              0.008577153,
              0.0004950377,
              -0.04933214,
              0.0662792,
              0.04773796,
              -0.04733882,
              0.03677493,
              0.053016394,
              -0.011188511,
              0.07060574,
              0.022361066,
              -0.0062288335,
              0.01835165,
              -0.040065035,
              0.0013909373,
              0.014975004,
              0.012017462,
              -0.031333018,
              0.018143592,
              -0.046454385,
              0.055277463,
              -0.025922652,
              -0.0044117076,
              0.0014658147,
              -0.031619605,
              0.05868683,
              -0.025567053,
              -0.025876611,
              -0.0435697,
              -0.06981303,
              0.02223195,
              -0.00994863,
              -0.012323676,
              -0.0133019965,
              0.02086423,
              -0.019193254,
              -0.027217248,
              -0.025509713,
              0.0142271025,
              0.05219718,
              -0.03202977,
              -0.047382195,
              -0.05318827,
              -0.01717316,
              -0.05354718,
              -0.03769022,
              0.077473745,
              0.045399986,
              -0.022315824,
              0.03491389,
              0.026986025,
              -0.030906245,
              -0.010733084,
              -0.02332839,
              0.022087485,
              0.050136067,
              0.027310878,
              0.0067060613,
              0.04490479,
              0.050451353,
              -0.014062468,
              -0.03890768,
              -0.008728193,
              0.06216511,
              -0.037599694,
              -0.0015478507,
              0.020964855,
              -0.001233505,
              0.06575921,
              -0.021008248,
              0.012342359,
              -0.007917494,
              -0.041905463,
              -0.04031061,
              -0.038883768,
              0.012524719,
              0.017440153,
              0.0014038559,
              0.0045499667,
              0.014743353,
              0.014072225,
              -0.03349903,
              0.014794082,
              0.00076303526,
              -0.043961335,
              -0.020104056,
              -0.029397048,
              0.07515894,
              0.026070239,
              0.02556527,
              -0.0055378242,
              0.010958807,
              0.045162637,
              -0.07469796,
              -0.035503887,
              0.003911776,
              0.010048259,
              0.002688677,
              0.021985603,
              -0.018828707,
              0.0077920067,
              -0.012828335,
              -0.042357236,
              -0.0004921238,
              0.019331215,
              0.042661455,
              -0.012811718,
              -0.052322753,
              -0.002437579,
              0.07313979,
              0.03395079,
              -0.0030639877,
              0.013098023,
              0.009835245,
              -0.07140544,
              0.053135995,
              -0.0017336094,
              -0.011693633,
              -0.03917386,
              0.051260557,
              -0.003067901,
              -0.012465801,
              0.04378248,
              -0.015526198,
              -0.010278915,
              0.022067236,
              0.037360143,
              0.007947873,
              0.04407558,
              -0.038931318,
              0.05168363,
              -0.022441134,
              0.021291802,
              -0.0488179,
              0.007524871,
              0.010608391,
              -0.028383866,
              0.0041064452,
              0.021287493,
              -0.031893454,
              0.004023733,
              0.038876433,
              -0.0031320006,
              0.019627659,
              -0.010962393,
              -0.0074740183,
              0.034959123,
              -0.04662776,
              -0.008639516,
              -0.0035362882,
              -0.011904235,
              -0.0021773677,
              0.05093971,
              -0.030183803,
              0.031613626,
              -0.020902656,
              -0.00015377988,
              0.0070854817,
              -0.058728512,
              0.028981157,
              0.01479538,
              -0.0074027353,
              -0.008132161,
              0.032749902,
              -0.033769578,
              -0.0060968255,
              0.0077860253,
              -0.042092673,
              -0.016172543,
              0.009487508,
              0.00831299,
              -0.0073093814,
              -0.021911614,
              0.04672067,
              0.034710076,
              0.0025230227,
              -0.046409767,
              -0.021618955,
              0.03248512,
              -0.006266058,
              -0.0013702402,
              -0.020034371,
              -0.004510728,
              0.03910719,
              -0.035495676,
              0.017015228,
              0.013520126,
              -0.02295227,
              0.010808982,
              -0.04359868,
              -0.008796378,
              -0.0047505945,
              0.014609588,
              0.002248033,
              -0.009782517,
              0.011906651,
              -0.012459921,
              0.02376446,
              0.012761114,
              0.06291191,
              -0.009850129,
              -0.0032085765,
              -0.012188958,
              -0.0047027604,
              0.009215792,
              0.008798757,
              -0.013776539,
              -0.036552105,
              0.017457481,
              0.007485479,
              -0.03729724,
              -0.042831115,
              -0.022628484,
              0.014049454,
              0.0032693378,
              -0.008906338,
              0.04677402,
              0.042588253,
              -0.015805002,
              -0.015604532,
              -0.026230944,
              0.05937288,
              0.042315237,
              0.037102334,
              0.027618466,
              0.0073644836,
              0.01212419,
              -0.00045454036,
              -0.0048634904,
              -0.007698535,
              0.037678573,
              0.004273919,
              -0.01503589,
              -0.006844812,
              -0.013495246,
              -0.051056843,
              -0.0045419815,
              -0.0008751654,
              0.015590447,
              -0.03399033,
              0.01595443,
              0.007958277,
              0.042124074,
              -0.0061107,
              0.017568367,
              -0.0069497367,
              -0.029619874,
              -0.0013163835,
              0.006284703,
              0.005662391,
              -0.023586748,
              0.026440607,
              -0.011362089,
              -0.016772967,
              0.011896262,
              0.04526858,
              0.021388013,
              0.016932013,
              -0.009421087,
              0.022666713,
              -0.01759967,
              0.027719265,
              0.0071599046,
              -0.056501124,
              -0.041309536,
              0.04123502,
              -0.017110962,
              -0.034719516,
              -0.05578782,
              -0.016913235,
              0.032058753,
              -0.019355327,
              -0.00008604426,
              0.046327908,
              0.023981579,
              -0.025380725,
              0.019377382,
              0.027286112,
              -0.03938462,
              -0.019118022,
              -0.008034495,
              -0.045320876,
              0.0062495796,
              -0.004074076,
              0.030319143,
              0.019909507,
              -0.042159062,
              -0.010890318,
              0.023713997,
              0.031737905,
              0.013037903,
              -0.044744745,
              0.033534158,
              -0.0047867866,
              0.005652352,
              0.027841525,
              0.0035198848,
              -0.0011151051,
              -0.03372795,
              0.013605698,
              -0.008946641,
              -0.0131601365,
              -0.025042877,
              -0.019196043,
              0.08210985,
              0.04813414,
              -0.0050612343,
              -0.094527185,
              0.016259685,
              0.035030447,
              0.020026442,
              0.08320726,
              0.023615351,
              -0.052162018,
              -0.0377287,
              -0.026346788,
              0.042224206,
              0.024777561,
              -0.0024726046,
              -0.02382159,
              0.007993476,
              0.018741114,
              0.10639304,
              0.0021635946,
              -0.009541488,
              -0.042584457,
              -0.05091909,
              -0.025083616,
              -0.011082396,
              0.016414516,
              -0.031586666,
              -0.022120647,
              0.018958673,
              0.0009591599,
              0.007820489,
              -0.040271148,
              -0.0033710373,
              -0.011388563,
              0.033026733,
              -0.021131832,
              0.026453469,
              -0.024370793,
              -0.05239538,
              -0.07096358,
              -0.018176736,
              0.08244922,
              0.0071676895,
              -0.007457859,
              -0.0418074,
              0.03445055,
              -0.036822546,
              -0.012696492,
              0.0016063551,
              0.067319565,
              -0.052598592,
              0.038213305,
              -0.0011337957,
              -0.009030709,
              0.056990575,
              -0.017482748,
              0.015606391,
              0.014753749,
              0.05117792,
              0.031178968,
              0.053767346,
              0.022979684,
              -0.03524011,
              0.018438822,
              0.020532034,
              -0.035794646,
              0.050557066,
              -0.014173737,
              -0.008419399,
              0.015042819,
              0.047958307,
              -0.022993607,
              -0.03894404,
              0.05213355,
              -0.008997742,
              0.0008910468,
              0.0024181637,
              -0.028536767,
              -0.0023581341,
              -0.056068905,
              0.041347872,
              0.008602539,
              0.007292635,
              0.006460761,
              0.045826804,
              0.0012521745,
              0.02188639,
              -0.029894007,
              0.029444363,
              -0.03594399,
              0.068832524,
              -0.017975071,
              0.038009025,
              -0.010817379,
              -0.033546958,
              0.0062705516,
              -0.00849374,
              0.038834788,
              0.0069158976,
              -0.027313419,
              0.0005241522,
              -0.05601406,
              0.039645188,
              -0.018795671,
              0.0027577267,
              -0.00348298,
              -0.066508085,
              -0.05517598,
              -0.009119961,
              0.015138108,
              -0.053590875,
              -0.05991852,
              -0.010676526,
              -0.005457662,
              -0.019820543,
              0.064026855,
              -0.023128768,
              0.0039755506,
              -0.0012226341,
              -0.0014004265,
              0.0047887582,
              0.053208414,
              0.030466482,
              0.052447572,
              0.010815175,
              0.041201416,
              0.03641748,
              0.0048600803,
              -0.0010290456,
              0.02479791,
              0.040318836,
              -0.04474485,
              -0.042898048,
              -0.0035149986,
              -0.004653239,
              -0.028589297,
              -0.048621625,
              -0.014084389,
              0.022646079,
              0.023536585,
              -0.02670968,
              0.033537924,
              0.02138352,
              -0.022603106,
              -0.0010509829,
              0.0024668667,
              -0.0039456743,
              0.017026834,
              -0.044567853,
              0.012170528,
              -0.060387764,
              0.018934075,
              -0.021710524,
              0.02356447,
              -0.056897372,
              0.023062317,
              -0.016430056,
              -0.040157054,
              0.009420939,
              0.049817953,
              -0.010320001,
              -0.008516942,
              -0.016978854,
              0.019634478,
              -0.010938071,
              0.03666223,
              0.04539687,
              -0.011752132,
              0.014148402,
              -0.013636856,
              0.016102878,
              -0.008964488,
              0.04671763,
              -0.030364653,
              0.033208683,
              -0.018862534,
              0.0036356833,
              -0.031909555,
              0.026663817,
              -0.005209831,
              0.0053341174,
              -0.018189393,
              0.0063983486,
              0.025593266,
              -0.027384713,
              -0.015078894,
              -0.017187938,
              0.02602965,
              0.05101842,
              0.021952273,
              0.00021268366,
              -0.050493825,
              0.0774321,
              -0.028437726,
              -0.010866314,
              0.04650304,
              -0.02262501,
              -0.02397512,
              -0.04508655,
              0.031760715,
              0.023661336,
              -0.010079855,
              -0.03548556,
              -0.05871278,
              -0.042253137,
              -0.021688687,
              -0.035585873,
              0.006982504,
              -0.0804001,
              0.02412786,
              0.010160019,
              0.021188218,
              0.03337065,
              -0.0035559097,
              0.019235777,
              -0.032487858,
              0.026132766,
              -0.0268678,
              -0.024651324,
              -0.041147627,
              -0.02747932,
              -0.03688401,
              -0.018382927,
              -0.0186752,
              -0.039819967,
              -0.009614725,
              0.04446036,
              0.020537026,
              -0.007497671,
              0.04207319,
              -0.032633487,
              0.030104091,
              -0.012755654,
              -0.009180954,
              0.017392213,
              0.070176244,
              -0.03263462,
              0.0041476195,
              -0.0014381717,
              0.016147194,
              -0.05806886,
              -0.044944342,
              -0.029524695,
              0.005651074,
              0.040524844,
              0.011518123,
              -0.0011717996,
              -0.05052307,
              -0.040416025,
              0.038615137,
              0.034007926,
              0.08148775,
              -0.057417367,
              -0.045924928,
              0.020725885,
              0.03166108,
              0.06972137,
              -0.005800571,
              0.05029528,
              0.01376659,
              0.023632599,
              0.00827108,
              0.004740458,
              -0.013526654,
              -0.019174522,
              0.05063425,
              0.011122844,
              0.06561949,
              -0.013982149,
              -0.008051939,
              0.02099896,
              0.0031012802,
              -0.04923239,
              -0.010741101,
              0.023876047,
              -0.04448447,
              -0.030299842,
              -0.027667444,
              0.050062463,
              -0.03647783,
              -0.024349025,
              0.009810241,
              0.051518425,
              -0.016059393,
              -0.014175054,
              -0.0126448525,
              -0.06408284,
              -0.0033314985,
              0.025862763,
              -0.0048184306,
              0.04267131,
              0.010396154,
              -0.03221133,
              0.041323513,
              0.011600177,
              -0.03859888,
              0.03560636,
              -0.021657024,
              -0.008635854,
              0.03446162,
              0.0074971155,
              -0.0050479146,
              -0.034759168,
              0.006836065,
              0.03299544,
              0.040625945,
              -0.023452291,
              -0.047235277,
              -0.00615699,
              0.013755008,
              0.0044895117,
              -0.0014316379,
              -0.035624888,
              0.013713036,
              0.0034849455,
              0.034504496,
              0.038985394,
              0.010889499,
              -0.03679414,
              0.026977412,
              -0.052478775,
              0.034506347,
              -0.024422655,
              0.021505808,
              0.071273565,
              0.01271215,
              -0.019975372,
              0.025906058,
              0.019715805,
              -0.06501878,
              -0.00033261997,
              0.007373596,
              -0.004840462,
              0.023344148,
              0.0035252578,
              -0.024132228,
              -0.0067336895,
              -0.008594771,
              0.012521844,
              -0.030447593,
              0.03310106,
              -0.05535517,
              -0.008977778,
              -0.04199749,
              0.024468118,
              0.0053664236,
              -0.032146763,
              -0.04853672,
              0.04591085,
              -0.0018461703,
              0.03649511,
              -0.01008328,
              -0.0106203845,
              -0.006436899,
              -0.021596314,
              -0.01114759,
              -0.021024156,
              0.026788397,
              -0.017719595,
              0.045219403,
              0.033339493,
              0.049708497,
              -0.005441591,
              0.031503763,
              -0.019099243,
              0.024142202,
              -0.008751152,
              0.03794089,
              0.017747672,
              -0.016393567,
              0.020114742,
              0.039064173,
              -0.00045102427,
              0.03547341,
              -0.032525014,
              0.017409503,
              0.01924158,
              0.01994011,
              0.037479196,
              0.03627441,
              -0.013369716,
              -0.064366475,
              -0.07999573,
              -0.030971881,
              -0.011972361,
              0.041255355,
              -0.0005110476,
              -0.016609887,
              -0.0048481603,
              0.010973917,
              0.016635926,
              -0.006932089,
              0.02096043,
              -0.03187172,
              -0.0084694475,
              0.024022259,
              0.004092241,
              -0.0025197752,
              0.023013094,
              -0.04839042,
              0.025892545,
              -0.03703043,
              -0.002348326,
              0.030393712,
              0.037933305,
              -0.060481165,
              -0.013257428,
              -0.02802645,
              0.010681203,
              -0.022213137,
              -0.025820754
            ],
            [
              0.0227706,
              -0.035529356,
              -0.0073749726,
              0.015121438,
              0.0399118,
              -0.01746471,
              0.015254283,
              -0.020949664,
              -0.0369981,
              0.030902382,
              -0.01364495,
              0.005996893,
              -0.073639974,
              -0.03881656,
              -0.002552803,
              -0.04114661,
              0.017983196,
              0.024499847,
              -0.046976987,
              0.0040388345,
              0.035325043,
              -0.026698388,
              -0.02234512,
              -0.033160504,
              0.017921252,
              0.0059869327,
              -0.0021072535,
              -0.020711804,
              0.015998438,
              -0.0035457357,
              0.03699983,
              0.030608842,
              -0.020177238,
              0.016170599,
              0.034482013,
              0.038333118,
              0.005022351,
              0.0033334,
              0.01120442,
              0.0138126165,
              0.012962593,
              -0.014714843,
              0.0016181464,
              -0.00061744015,
              -0.02671571,
              -0.023837714,
              -0.0012640463,
              0.0062652454,
              -0.024566364,
              0.025588362,
              0.0065041757,
              0.015064316,
              0.043358184,
              -0.00041798828,
              -0.06591107,
              -0.026458396,
              -0.008821265,
              0.06459311,
              -0.018724665,
              -0.004447671,
              -0.01295702,
              -0.030531708,
              -0.041792456,
              0.014789828,
              0.047814347,
              -0.026144825,
              -0.034196965,
              -0.04827082,
              -0.03586603,
              0.04576981,
              0.0068553523,
              0.038943052,
              0.009095942,
              0.046512496,
              0.017896328,
              0.008932151,
              -0.005861546,
              -0.028460165,
              -0.021224255,
              0.02754184,
              -0.050144296,
              -0.019059377,
              0.036812183,
              0.015058231,
              0.021015247,
              0.018373113,
              0.008313975,
              0.0041384944,
              0.015890025,
              0.012755792,
              -0.018127589,
              0.040861093,
              -0.019499157,
              -0.06649733,
              -0.0030361533,
              0.025599586,
              -0.017888298,
              -0.013850768,
              -0.018482506,
              -0.022690253,
              -0.00800174,
              -0.019083587,
              -0.037459064,
              0.0011208488,
              -0.0065748645,
              -0.07846872,
              0.006135962,
              0.040943246,
              0.0071444386,
              -0.007254253,
              0.0060018725,
              0.027475718,
              -0.027294695,
              0.019379599,
              0.026193578,
              -0.00297464,
              0.016562857,
              0.0027289833,
              -0.024779912,
              0.008661598,
              -0.024247786,
              0.051449273,
              -0.0016699142,
              0.024269653,
              -0.047724627,
              0.00014758074,
              0.01459925,
              0.021598648,
              -0.03744629,
              0.01047601,
              0.029190391,
              -0.04429425,
              -0.005410221,
              0.044162203,
              0.025211917,
              0.022114377,
              0.04553938,
              0.0029153328,
              -0.018019237,
              -0.0035259712,
              -0.05158171,
              0.0016045973,
              0.003348843,
              -0.043686554,
              0.014281426,
              0.0141328415,
              -0.06499068,
              0.0657282,
              0.04364919,
              0.008100565,
              -0.016212529,
              -0.030301869,
              0.009101288,
              0.016228443,
              0.0028727667,
              -0.0074291653,
              -0.07908509,
              -0.00084049185,
              0.0511153,
              0.006600365,
              -0.028621262,
              0.0015587343,
              0.052527405,
              0.002245967,
              -0.013791267,
              0.038721766,
              0.018474303,
              0.00033342908,
              -0.031280868,
              0.08096257,
              -0.031399116,
              0.032042623,
              0.010364255,
              0.0064180912,
              0.034606826,
              -0.049555767,
              0.0062683616,
              -0.015751075,
              0.015040472,
              -0.009094162,
              -0.053652447,
              -0.034146205,
              -0.04149606,
              -0.04422076,
              0.04491759,
              0.045715783,
              0.0046737865,
              -0.0032602525,
              -0.009582697,
              0.017558016,
              0.006366948,
              0.03429102,
              -0.022177182,
              -0.001949662,
              -0.047949992,
              0.03856403,
              0.024889138,
              -0.040908832,
              -0.03259579,
              -0.00417619,
              0.0052644913,
              0.0033554686,
              0.031869497,
              0.034434024,
              -0.038272697,
              -0.020801451,
              0.051838305,
              0.003486543,
              0.015289139,
              -0.0382497,
              -0.0058574,
              -0.020277545,
              0.014043353,
              0.02650446,
              -0.03504462,
              0.007966603,
              -0.012493027,
              -0.0015524734,
              -0.018410508,
              0.001987875,
              -0.0020525237,
              -0.07234254,
              -0.022198115,
              0.059091583,
              -0.031682707,
              0.08789323,
              0.020527337,
              -0.012129292,
              0.00023816027,
              0.009126299,
              0.008437501,
              -0.034272093,
              0.02151707,
              0.0018751571,
              -0.032083783,
              0.04491441,
              0.037400126,
              0.014162109,
              0.025485763,
              0.010308166,
              0.020044442,
              0.013811022,
              -0.011441531,
              -0.00463677,
              0.008522248,
              -0.012670043,
              0.038402576,
              -0.043386135,
              -0.014808191,
              0.0016583478,
              -0.017070688,
              -0.023913689,
              0.040652502,
              -0.016089236,
              0.0015446288,
              0.0034149622,
              0.011242142,
              -0.04174057,
              0.028926559,
              0.03154587,
              -0.007943189,
              -0.021574134,
              0.021688553,
              -0.020386005,
              -0.0071495506,
              0.015837917,
              -0.034526523,
              -0.0112847835,
              0.004737755,
              -0.0055137905,
              0.05683218,
              0.029717496,
              -0.0071353554,
              0.015379692,
              0.026936594,
              -0.001965704,
              -0.040868383,
              -0.013331022,
              0.019168751,
              -0.054147158,
              0.001774599,
              0.0141305905,
              -0.03466478,
              -0.038743056,
              -0.044970445,
              -0.027291672,
              0.039036673,
              -0.102800325,
              -0.009475289,
              0.043489117,
              0.04521818,
              0.0004270919,
              0.027982853,
              0.043114413,
              -0.014696293,
              0.025103152,
              0.045186084,
              0.060959723,
              -0.04413832,
              -0.00943637,
              0.02835892,
              -0.034252264,
              -0.033791285,
              -0.0438706,
              0.026514288,
              -0.023763873,
              0.019860147,
              -0.041719656,
              0.0008859493,
              0.03119882,
              -0.01833866,
              0.054549757,
              -0.0035257943,
              0.05989132,
              -0.032648485,
              -0.024026256,
              0.036134895,
              -0.017475937,
              0.05439482,
              0.0066128066,
              0.04441181,
              -0.0012890754,
              0.04106914,
              -0.010960289,
              0.010843269,
              -0.01904589,
              -0.05162707,
              -0.010516181,
              -0.0087656975,
              0.042702552,
              0.0032199167,
              0.054377288,
              0.020257417,
              0.020150898,
              -0.004572309,
              0.00021942964,
              -0.033389825,
              -0.0081786215,
              0.047670607,
              0.062544316,
              0.012131203,
              -0.013103781,
              -0.052636683,
              -0.019801723,
              0.024008244,
              0.006853251,
              0.007919091,
              0.035104197,
              0.015685298,
              -0.031066861,
              -0.014678521,
              -0.008577303,
              -0.05578867,
              0.029743766,
              -0.03920743,
              0.03250913,
              0.02948562,
              -0.009148297,
              0.009304874,
              0.046969905,
              -0.03304442,
              -0.07129055,
              0.033094216,
              -0.027477229,
              -0.00007982992,
              -0.010021794,
              -0.045149583,
              -0.02673895,
              -0.019602688,
              -0.06975604,
              -0.023111153,
              0.01893572,
              -0.049766555,
              -0.07127154,
              0.0043577016,
              -0.015826777,
              -0.021434259,
              -0.057952475,
              -0.06241938,
              0.06350203,
              -0.038506903,
              -0.011341005,
              -0.03268179,
              0.028181095,
              -0.117162906,
              0.042762544,
              -0.031338934,
              -0.018606182,
              0.003741287,
              -0.0066717225,
              0.019796723,
              0.031086845,
              -0.015417028,
              -0.00016287724,
              -0.027342472,
              0.015812667,
              0.027046863,
              -0.010118617,
              -0.003774349,
              -0.00058254437,
              0.005036269,
              0.046042144,
              -0.0891358,
              0.048199028,
              -0.016392387,
              -0.069667436,
              0.0054153693,
              0.011655898,
              -0.013245943,
              0.009870834,
              -0.027636664,
              0.0066459607,
              0.054512348,
              -0.020974927,
              0.0037817033,
              -0.046780337,
              -0.08331497,
              0.03219071,
              0.023290781,
              0.01421239,
              0.037529442,
              0.023504434,
              -0.028953448,
              0.027224801,
              0.020876564,
              0.016512958,
              0.006817705,
              -0.043373104,
              0.004916327,
              0.018771723,
              0.04367623,
              -0.008586348,
              -0.013351994,
              -0.024400488,
              -0.044900063,
              -0.01585746,
              -0.015999932,
              -0.025845172,
              -0.043892417,
              -0.008888059,
              -0.02542547,
              -0.026194891,
              0.013026632,
              -0.014050154,
              0.011136772,
              -0.0043024006,
              0.07140219,
              0.017665964,
              0.008583144,
              0.01663636,
              0.062403515,
              -0.054892663,
              -0.010762687,
              -0.015255591,
              -0.0278316,
              -0.036278635,
              -0.032743737,
              -0.0077537843,
              0.012280041,
              -0.028664567,
              -0.036310308,
              0.063660175,
              0.0076184296,
              0.017115438,
              -0.06958563,
              0.022778314,
              -0.022298982,
              -0.06978225,
              0.028682498,
              0.017109059,
              0.036401022,
              0.043936133,
              -0.0032113662,
              0.027051732,
              -0.03209612,
              -0.029148864,
              0.03664838,
              0.026788592,
              0.02334934,
              -0.03897209,
              -0.036412146,
              -0.036466625,
              0.040859174,
              -0.005317328,
              0.009642076,
              0.030861797,
              -0.03528288,
              0.013517085,
              -0.015699787,
              0.009819376,
              0.01058912,
              0.016627887,
              0.006168293,
              -0.02814334,
              -0.027720096,
              -0.0062659285,
              -0.018589748,
              -0.005559318,
              0.047694016,
              0.013319343,
              0.05261926,
              0.02441017,
              0.01137345,
              -0.034732603,
              0.0374888,
              0.0053881225,
              -0.0029994461,
              0.04301573,
              0.048273325,
              0.018839281,
              0.04152233,
              -0.021681964,
              0.021840284,
              -0.0065459814,
              0.0011204961,
              -0.009309005,
              -0.027944839,
              0.043979593,
              0.0017325307,
              0.040917374,
              -0.061840832,
              0.004951628,
              0.021959944,
              -0.0042521367,
              0.044560313,
              0.020095907,
              -0.017773652,
              -0.063085854,
              -0.005288027,
              0.0014565372,
              0.023244195,
              -0.011004815,
              0.018192342,
              0.02767646,
              -0.031557724,
              0.012775402,
              0.012066575,
              -0.0525685,
              0.0074422853,
              -0.0017758796,
              -0.0040615746,
              0.017338987,
              0.0040243915,
              -0.046884123,
              -0.042312678,
              -0.002561819,
              0.033702355,
              0.013105876,
              -0.023578905,
              0.050451286,
              0.008347909,
              -0.029327601,
              -0.028922142,
              0.014334559,
              0.012971787,
              0.0027590308,
              -0.014068925,
              0.012112305,
              0.0011084486,
              0.050613396,
              -0.021291362,
              0.03567707,
              0.040312745,
              0.05381854,
              -0.005999066,
              -0.017952278,
              -0.014865204,
              0.0034212775,
              -0.015688347,
              -0.01425911,
              0.028182467,
              -0.0064162672,
              -0.05468777,
              0.01693853,
              -0.016921664,
              0.01923434,
              0.013594347,
              0.021523029,
              0.035467144,
              -0.022931851,
              -0.026103064,
              -0.00066835666,
              0.0047024125,
              0.07846578,
              -0.01030629,
              0.010961838,
              -0.041784838,
              0.0072540035,
              -0.03232229,
              -0.014972776,
              -0.045576453,
              -0.050945275,
              -0.029915726,
              0.072010696,
              -0.010998433,
              0.03542449,
              0.04960227,
              0.0034740316,
              0.0037159983,
              -0.006831201,
              0.014328162,
              0.007246263,
              0.0042883754,
              -0.035079278,
              -0.030961808,
              -0.027215056,
              -0.000082783044,
              -0.012649064,
              -0.008311324,
              0.038102847,
              -0.018886441,
              -0.016275618,
              -0.06140167,
              0.04391051,
              0.0026203159,
              0.020594355,
              -0.025210002,
              -0.050425503,
              0.017196417,
              -0.026816543,
              0.07051257,
              0.022767542,
              -0.03846449,
              -0.098061465,
              -0.0050794045,
              0.04885713,
              0.012745598,
              0.048698403,
              -0.020187648,
              -0.021476967,
              -0.01703305,
              -0.020318318,
              0.009473779,
              -0.02279717,
              -0.026088502,
              0.024745291,
              0.051340327,
              0.0087632,
              0.044470996,
              -0.04193236,
              0.022976447,
              0.034470882,
              -0.008287431,
              0.016908966,
              -0.021927534,
              -0.01942877,
              0.019285204,
              0.026462108,
              -0.024953054,
              0.017599314,
              0.04737719,
              0.044895004,
              -0.03461338,
              0.012887102,
              0.06285437,
              0.0054580765,
              -0.05826859,
              -0.027416514,
              0.021078872,
              0.030137645,
              0.002310455,
              0.04162213,
              0.025024047,
              -0.013829789,
              0.0057319347,
              -0.06264423,
              0.006482153,
              -0.004214899,
              -0.03970763,
              0.018212836,
              -0.022065658,
              0.0021483602,
              0.0505978,
              0.008082307,
              0.008223499,
              -0.053575743,
              0.020454513,
              0.083901234,
              0.0040520485,
              -0.03613837,
              0.058360927,
              -0.02600497,
              -0.008793939,
              0.030066703,
              -0.026281845,
              -0.006482649,
              0.019997895,
              0.050392397,
              0.011340555,
              -0.004345731,
              0.009596949,
              -0.021710323,
              0.00545744,
              -0.0062784646,
              0.09341037,
              -0.024128864,
              0.0026669144,
              0.04292798,
              -0.01018655,
              0.05431017,
              0.002408073,
              0.080750234,
              -0.020087777,
              0.04425832,
              -0.038821388,
              -0.016587991,
              -0.0007272213,
              -0.057268888,
              0.0059639723,
              0.029700443,
              -0.020606212,
              0.009639055,
              -0.025604218,
              0.0354484,
              -0.02396546,
              0.0020288355,
              0.02035434,
              0.051985968,
              0.030227821,
              -0.034467593,
              0.0011946692,
              0.011839827,
              -0.025997797,
              -0.027463166,
              -0.008962734,
              0.04989401,
              0.010989958,
              -0.02660739,
              0.038498867,
              0.032501485,
              -0.014767472,
              -0.0017754058,
              0.038668036,
              0.009682602,
              0.03919937,
              0.024300223,
              0.008015153,
              0.019012671,
              0.032200035,
              0.021809071,
              -0.002494012,
              0.013164037,
              0.017211819,
              0.02975583,
              -0.00026546212,
              -0.022612788,
              0.016302856,
              0.01909201,
              0.003427637,
              -0.060710065,
              0.025569282,
              0.039609835,
              0.028474364,
              -0.042432822,
              0.027900677,
              0.010355882,
              -0.024976477,
              -0.01677552,
              0.052135233,
              -0.052343648,
              -0.014262236,
              -0.030079642,
              0.027770907,
              0.021888554,
              0.0029241852,
              0.03766656,
              -0.030145103,
              -0.012073412,
              0.06427853,
              -0.010981466,
              -0.004882335,
              -0.00018319079,
              -0.021495597,
              -0.046870127,
              0.0023831076,
              0.03507056,
              0.03741964,
              0.019782746,
              0.055230726,
              0.00009465872,
              -0.011834999,
              0.03953467,
              -0.006767057,
              0.009408115,
              0.068525575,
              -0.0120291365,
              0.01840378,
              0.029773973,
              -0.029483125,
              -0.019640287,
              -0.007513112,
              -0.0070443326,
              -0.009648007,
              -0.024156842,
              0.0599875,
              -0.0140414145,
              -0.023268873,
              0.0019107915,
              0.022851812,
              -0.02598242,
              -0.00415275,
              0.015664611,
              -0.037801366,
              0.030542355,
              -0.025494311,
              -0.042338904,
              -0.05280786,
              0.0412216,
              0.013320735,
              0.010022187,
              0.01326765,
              0.039781127,
              -0.026385235,
              0.009720964,
              -0.0015950202,
              -0.0045225183,
              0.016564867,
              -0.03853783,
              -0.056609116,
              -0.03781464,
              -0.015921457,
              0.020044854,
              0.0045664483,
              0.06667184,
              -0.012892789,
              0.05375763,
              -0.021543086,
              0.011537416,
              -0.025314273,
              0.07740737,
              -0.036465406,
              -0.056013606,
              -0.047716912,
              -0.035310593,
              0.072179966,
              -0.004314371,
              -0.04165674,
              0.039238613,
              0.046564147,
              -0.010695558,
              0.015102443,
              0.0039463877,
              -0.0005615273,
              -0.068529665,
              -0.01225321,
              0.00223254,
              -0.014198966,
              -0.021796834,
              0.007515133,
              -0.037873603,
              -0.05453053,
              -0.019006852,
              -0.0026890868,
              0.059429567,
              -0.013892922,
              -0.01657018,
              0.050154045,
              0.03425599,
              0.0052487412,
              0.0045378176,
              0.022587722,
              -0.00425066,
              0.019110568,
              0.05335272,
              0.025773065,
              0.007065946,
              -0.015958387,
              -0.04241593,
              -0.03813952,
              0.0048607048,
              0.0010443846,
              0.034345996,
              0.032921907,
              0.04937561,
              0.023139833,
              0.03353264,
              0.01996754,
              -0.040911693,
              0.017538356,
              -0.057959266,
              0.04119193,
              0.030050052,
              -0.008173401,
              -0.020172054,
              0.0028183355,
              0.000074673684,
              0.0064839665,
              -0.0151396515,
              0.021317204,
              -0.028103253,
              -0.026051708,
              0.0027100816,
              -0.033628155,
              -0.020408344,
              0.03366785,
              0.053130686,
              0.0042715864,
              0.0320308,
              -0.027289093,
              -0.08398227,
              -0.026800381,
              -0.06611375,
              -0.0072988067,
              -0.0050520445,
              -0.015943332,
              0.014847657,
              0.000995944,
              -0.020860571,
              0.028848821,
              0.032891907,
              -0.023404062,
              0.026075643,
              0.048227392,
              -0.0033850002,
              -0.023597494,
              -0.0061272103,
              0.007003893,
              0.020292284,
              0.014222481,
              -0.04470755,
              -0.06880993,
              -0.060989857,
              -0.027043918,
              -0.057947308,
              -0.027192619,
              0.013101238,
              -0.030242268,
              -0.055497423,
              0.000015612659,
              0.06125767,
              0.04095442,
              -0.05157141,
              0.040626332,
              -0.03196401,
              0.015363475,
              0.020491285,
              0.08046342,
              -0.01708957,
              0.0619158,
              0.05123997,
              0.010018083,
              0.03369589,
              -0.006147895,
              0.007091133,
              0.009666819,
              0.005060337,
              -0.0012098317,
              -0.01292336,
              -0.010519496,
              0.033140216,
              0.037367206,
              0.013489853,
              0.020277767,
              0.0051764245,
              0.027447216,
              0.035839926,
              0.0046660053,
              0.010192391,
              -0.008317725,
              0.0019027675,
              0.0071612215,
              0.0013778805,
              -0.020757038,
              0.0060087033,
              0.030995378,
              -0.033806756,
              0.002892434,
              0.015612827,
              -0.014016618,
              0.050386325,
              0.01594847,
              0.030990802,
              0.017826108,
              0.0469388,
              0.03446213,
              0.0056729405,
              0.019589122,
              -0.04389642,
              -0.026511334,
              -0.014273306,
              0.009550683,
              -0.010247443,
              0.018179178,
              0.026217435,
              -0.022038363,
              -0.016886918,
              0.058744993,
              0.0060962774,
              0.015361063,
              -0.009512807,
              0.016648237,
              -0.040820748,
              0.003688935,
              -0.006233271,
              0.0030114986,
              -0.019395282,
              -0.004555459,
              0.05285672,
              -0.013460014,
              -0.016634602,
              -0.007582933,
              -0.025959652,
              -0.019426782,
              0.00008522261,
              -0.017894007,
              0.004268334,
              -0.031770498,
              -0.038677245,
              0.00960227,
              -0.004275292,
              0.005460176,
              -0.022769611,
              -0.0642777,
              -0.0022224279,
              0.012386793,
              -0.016397841,
              0.042033773,
              0.0033121381,
              0.014129462,
              0.0032996198,
              -0.041696534,
              0.023441667,
              -0.003920681,
              0.0032530564
            ]
          ],
          "total_duration": 1448753793,
          "load_duration": 1229286717,
          "prompt_eval_count": 488
        }
      }
    ]
  },
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "輸入文本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Embedding API": {
      "main": [
        [
          {
            "node": "計算 text 與 prompt 相似度",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "輸入文本": {
      "main": [
        [
          {
            "node": "Call OpenAI embeddimg model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI embeddimg model": {
      "main": [
        [
          {
            "node": "計算 text 與 prompt 相似度1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7733de7-890f-472e-8c22-4b37aec326c0",
  "meta": {
    "instanceId": "dc4d2ffaadbec050bef7ceddb84adaae0e987f159eb5cf6859d0d0e50935d512"
  },
  "id": "zIy02dCPFPZYBsCo",
  "tags": []
}